 ############################################################
#	AINGF PROJECT
#	V2
#-----------------------------------
#	PCB REV. 01
#	SCH REV. 05
#	W.D CURRENT SCH PRINT 06
#-----------------------------------
#	9/15/2015 - 6:38PM
#	SalehJG
#
############################################################
#	CHANGE LOG:
#	
#	V1.	created
#	V2. various pin numbers fixed in usb-fx2 section.
#
#
#
#	
#
#
#
#

## Prohibit the automatic placement of pins that are connected to VCC or GND for configuration.
CONFIG PROHIBIT=P83;
CONFIG PROHIBIT=P92;


#=================================== USB-FX2 WIRING ====================================
NET "FX_D<0>" 		LOC = P200			|IOSTANDARD=LVCMOS33 |SLEW="FAST";
NET "FX_D<1>" 		LOC = P199			|IOSTANDARD=LVCMOS33 |SLEW="FAST";
NET "FX_D<2>" 		LOC = P198			|IOSTANDARD=LVCMOS33 |SLEW="FAST";
NET "FX_D<3>" 		LOC = P197			|IOSTANDARD=LVCMOS33 |SLEW="FAST";
NET "FX_D<4>" 		LOC = P196			|IOSTANDARD=LVCMOS33 |SLEW="FAST";
NET "FX_D<5>" 		LOC = P194			|IOSTANDARD=LVCMOS33 |SLEW="FAST";
NET "FX_D<6>" 		LOC = P191			|IOSTANDARD=LVCMOS33 |SLEW="FAST";
NET "FX_D<7>" 		LOC = P190			|IOSTANDARD=LVCMOS33 |SLEW="FAST";
NET "FX_D<8>" 		LOC = P175			|IOSTANDARD=LVCMOS33 |SLEW="FAST";
NET "FX_D<9>" 		LOC = P172			|IOSTANDARD=LVCMOS33 |SLEW="FAST";
NET "FX_D<10>" 		LOC = P171			|IOSTANDARD=LVCMOS33 |SLEW="FAST";
NET "FX_D<11>" 		LOC = P169			|IOSTANDARD=LVCMOS33 |SLEW="FAST";
NET "FX_D<12>" 		LOC = P168			|IOSTANDARD=LVCMOS33 |SLEW="FAST";
NET "FX_D<13>" 		LOC = P167			|IOSTANDARD=LVCMOS33 |SLEW="FAST";
NET "FX_D<14>" 		LOC = P166			|IOSTANDARD=LVCMOS33 |SLEW="FAST";
NET "FX_D<15>" 		LOC = P165			|IOSTANDARD=LVCMOS33 |SLEW="FAST";
#                                    
NET "FX_FADDR<0>" 	LOC = P182			|IOSTANDARD=LVCMOS33 |SLEW="FAST";
NET "FX_FADDR<1>" 	LOC = P181			|IOSTANDARD=LVCMOS33 |SLEW="FAST";
#	                           
NET "FX_SLRD" 		LOC = P162			|IOSTANDARD=LVCMOS33 |SLEW="FAST";
NET "FX_SLWR" 		LOC = P161			|IOSTANDARD=LVCMOS33 |SLEW="FAST";
NET "FX_FLAGD" 		LOC = P176			|IOSTANDARD=LVCMOS33 |SLEW="FAST";
#NET "FX_FLAGC" 	LOC = P185			| IOSTANDARD=LVCMOS33 | SLEW="FAST";
#NET "FX_FLAGB" 	LOC = P187			| IOSTANDARD=LVCMOS33 | SLEW="FAST";
NET "FX_FLAGA" 		LOC = P189			|IOSTANDARD=LVCMOS33 |SLEW="FAST";
NET "FX_SLOE" 		LOC	= P183			|IOSTANDARD=LVCMOS33 |SLEW="FAST";
NET "FX_PKTEND" 	LOC	= P178			|IOSTANDARD=LVCMOS33 |SLEW="FAST";
	                              
#NET "FX_CLKOUT" 	LOC	= P180			| IOSTANDARD=LVCMOS33 | SLEW="FAST";
NET "FX_IFCLK_EX" 	LOC	= P184			|IOSTANDARD=LVCMOS33 |SLEW="FAST";
TIMESPEC TS_FX_IFCLK = PERIOD "FX_IFCLK" 20 ns HIGH 50%;

NET "FX_NRST"		LOC = P85			|IOSTANDARD=LVCMOS33 |SLEW="FAST" 			;
	                               
NET "FX_I2C_C" 		LOC	= P81			|IOSTANDARD=LVCMOS33 |SLEW="FAST" |CLOCK_DEDICATED_ROUTE = FALSE;
NET "FX_I2C_D0" 	LOC	= P86			|IOSTANDARD=LVCMOS33 |SLEW="FAST";
NET "FX_I2C_D1" 	LOC	= P87			|IOSTANDARD=LVCMOS33 |SLEW="FAST";
#
#
#
#
#
#
##=================================== SRAM0 WIRING ======================================
NET "SRAM0_A<0>"  	LOC = P146			|IOSTANDARD=LVCMOS33 |SLEW="FAST";
NET "SRAM0_A<1>"  	LOC = P147			|IOSTANDARD=LVCMOS33 |SLEW="FAST";
NET "SRAM0_A<2>"  	LOC = P148			|IOSTANDARD=LVCMOS33 |SLEW="FAST";
NET "SRAM0_A<3>"  	LOC = P149			|IOSTANDARD=LVCMOS33 |SLEW="FAST";
NET "SRAM0_A<4>"  	LOC = P150			|IOSTANDARD=LVCMOS33 |SLEW="FAST";
NET "SRAM0_A<5>"  	LOC = P107			|IOSTANDARD=LVCMOS33 |SLEW="FAST";
NET "SRAM0_A<6>"  	LOC = P108			|IOSTANDARD=LVCMOS33 |SLEW="FAST";
NET "SRAM0_A<7>"  	LOC = P109			|IOSTANDARD=LVCMOS33 |SLEW="FAST";
NET "SRAM0_A<8>"  	LOC = P111			|IOSTANDARD=LVCMOS33 |SLEW="FAST";
NET "SRAM0_A<9>"  	LOC = P113			|IOSTANDARD=LVCMOS33 |SLEW="FAST";
NET "SRAM0_A<10>" 	LOC = P116			|IOSTANDARD=LVCMOS33 |SLEW="FAST";
NET "SRAM0_A<11>" 	LOC = P117			|IOSTANDARD=LVCMOS33 |SLEW="FAST";
NET "SRAM0_A<12>" 	LOC = P119			|IOSTANDARD=LVCMOS33 |SLEW="FAST";
NET "SRAM0_A<13>" 	LOC = P120			|IOSTANDARD=LVCMOS33 |SLEW="FAST";
NET "SRAM0_A<14>" 	LOC = P122			|IOSTANDARD=LVCMOS33 |SLEW="FAST";
NET "SRAM0_A<15>" 	LOC = P133			|IOSTANDARD=LVCMOS33 |SLEW="FAST";
NET "SRAM0_A<16>" 	LOC = P135			|IOSTANDARD=LVCMOS33 |SLEW="FAST";
NET "SRAM0_A<17>" 	LOC = P137			|IOSTANDARD=LVCMOS33 |SLEW="FAST";
NET "SRAM0_A<18>" 	LOC = P138			|IOSTANDARD=LVCMOS33 |SLEW="FAST";
NET "SRAM0_A<19>" 	LOC = P139			|IOSTANDARD=LVCMOS33 |SLEW="FAST";
								       
NET "SRAM0_D<0>"  	LOC = P132			|IOSTANDARD=LVCMOS33 |SLEW="FAST";
NET "SRAM0_D<1>"  	LOC = P131			|IOSTANDARD=LVCMOS33 |SLEW="FAST";
NET "SRAM0_D<2>"  	LOC = P130			|IOSTANDARD=LVCMOS33 |SLEW="FAST";
NET "SRAM0_D<3>"  	LOC = P128			|IOSTANDARD=LVCMOS33 |SLEW="FAST";
NET "SRAM0_D<4>"  	LOC = P126			|IOSTANDARD=LVCMOS33 |SLEW="FAST";
NET "SRAM0_D<5>"  	LOC = P125			|IOSTANDARD=LVCMOS33 |SLEW="FAST";
NET "SRAM0_D<6>"  	LOC = P124			|IOSTANDARD=LVCMOS33 |SLEW="FAST";
NET "SRAM0_D<7>"  	LOC = P123			|IOSTANDARD=LVCMOS33 |SLEW="FAST";
NET "SRAM0_D<8>"  	LOC = P106			|IOSTANDARD=LVCMOS33 |SLEW="FAST";
NET "SRAM0_D<9>"  	LOC = P102			|IOSTANDARD=LVCMOS33 |SLEW="FAST";
NET "SRAM0_D<10>" 	LOC = P101			|IOSTANDARD=LVCMOS33 |SLEW="FAST";
NET "SRAM0_D<11>" 	LOC = P100			|IOSTANDARD=LVCMOS33 |SLEW="FAST";
NET "SRAM0_D<12>" 	LOC = P156			|IOSTANDARD=LVCMOS33 |SLEW="FAST";
NET "SRAM0_D<13>" 	LOC = P155			|IOSTANDARD=LVCMOS33 |SLEW="FAST";
NET "SRAM0_D<14>" 	LOC = P154			|IOSTANDARD=LVCMOS33 |SLEW="FAST";
NET "SRAM0_D<15>" 	LOC = P152			|IOSTANDARD=LVCMOS33 |SLEW="FAST";
			                           
NET "SRAM0_nWE"   	LOC = P141			|IOSTANDARD=LVCMOS33 |SLEW="FAST";
NET "SRAM0_nOE"   	LOC = P114			|IOSTANDARD=LVCMOS33 |SLEW="FAST";
NET "SRAM0_nCE1"  	LOC = P143			|IOSTANDARD=LVCMOS33 |SLEW="FAST";
NET "SRAM0_CE2"   	LOC = P140			|IOSTANDARD=LVCMOS33 |SLEW="FAST";
NET "SRAM0_nBHE"  	LOC = P144			|IOSTANDARD=LVCMOS33 |SLEW="FAST";
NET "SRAM0_nBLE"  	lOC = P115			|IOSTANDARD=LVCMOS33 |SLEW="FAST";





##=================================== SRAM1 WIRING ======================================
NET "SRAM1_A<0>" 	LOC = P15		|IOSTANDARD=LVCMOS33 |SLEW="FAST";
NET "SRAM1_A<1>" 	LOC = P16		|IOSTANDARD=LVCMOS33 |SLEW="FAST";
NET "SRAM1_A<2>" 	LOC = P18		|IOSTANDARD=LVCMOS33 |SLEW="FAST";
NET "SRAM1_A<3>" 	LOC = P19		|IOSTANDARD=LVCMOS33 |SLEW="FAST";
NET "SRAM1_A<4>" 	LOC = P20		|IOSTANDARD=LVCMOS33 |SLEW="FAST";
NET "SRAM1_A<5>" 	LOC = P33		|IOSTANDARD=LVCMOS33 |SLEW="FAST";
NET "SRAM1_A<6>" 	LOC = P34		|IOSTANDARD=LVCMOS33 |SLEW="FAST";
NET "SRAM1_A<7>" 	LOC = P35		|IOSTANDARD=LVCMOS33 |SLEW="FAST";
NET "SRAM1_A<8>" 	LOC = P36		|IOSTANDARD=LVCMOS33 |SLEW="FAST";
NET "SRAM1_A<9>" 	LOC = P37		|IOSTANDARD=LVCMOS33 |SLEW="FAST";
NET "SRAM1_A<10>" 	LOC = P42		|IOSTANDARD=LVCMOS33 |SLEW="FAST";
NET "SRAM1_A<11>" 	LOC = P43		|IOSTANDARD=LVCMOS33 |SLEW="FAST";
NET "SRAM1_A<12>" 	LOC = P44		|IOSTANDARD=LVCMOS33 |SLEW="FAST";
NET "SRAM1_A<13>" 	LOC = P45		|IOSTANDARD=LVCMOS33 |SLEW="FAST";
NET "SRAM1_A<14>" 	LOC = P46		|IOSTANDARD=LVCMOS33 |SLEW="FAST";
NET "SRAM1_A<15>" 	LOC = P3 		|IOSTANDARD=LVCMOS33 |SLEW="FAST";
NET "SRAM1_A<16>" 	LOC = P4 		|IOSTANDARD=LVCMOS33 |SLEW="FAST";
NET "SRAM1_A<17>" 	LOC = P5 		|IOSTANDARD=LVCMOS33 |SLEW="FAST";
NET "SRAM1_A<18>" 	LOC = P7 		|IOSTANDARD=LVCMOS33 |SLEW="FAST";
NET "SRAM1_A<19>" 	LOC = P9 		|IOSTANDARD=LVCMOS33 |SLEW="FAST";
                                    
NET "SRAM1_D<0>" 	LOC = P2  		|IOSTANDARD=LVCMOS33 |SLEW="FAST";
NET "SRAM1_D<1>" 	LOC = P205		|IOSTANDARD=LVCMOS33 |SLEW="FAST";
NET "SRAM1_D<2>" 	LOC = P204		|IOSTANDARD=LVCMOS33 |SLEW="FAST";
NET "SRAM1_D<3>" 	LOC = P203		|IOSTANDARD=LVCMOS33 |SLEW="FAST";
NET "SRAM1_D<4>" 	LOC = P52 		|IOSTANDARD=LVCMOS33 |SLEW="FAST";
NET "SRAM1_D<5>" 	LOC = P51 		|IOSTANDARD=LVCMOS33 |SLEW="FAST";
NET "SRAM1_D<6>" 	LOC = P50 		|IOSTANDARD=LVCMOS33 |SLEW="FAST";
NET "SRAM1_D<7>" 	LOC = P48 		|IOSTANDARD=LVCMOS33 |SLEW="FAST";
NET "SRAM1_D<8>" 	LOC = P31 		|IOSTANDARD=LVCMOS33 |SLEW="FAST";
NET "SRAM1_D<9>" 	LOC = P29 		|IOSTANDARD=LVCMOS33 |SLEW="FAST";
NET "SRAM1_D<10>" 	LOC = P28 		|IOSTANDARD=LVCMOS33 |SLEW="FAST";
NET "SRAM1_D<11>" 	LOC = P27 		|IOSTANDARD=LVCMOS33 |SLEW="FAST";
NET "SRAM1_D<12>" 	LOC = P26 		|IOSTANDARD=LVCMOS33 |SLEW="FAST";
NET "SRAM1_D<13>" 	LOC = P24 		|IOSTANDARD=LVCMOS33 |SLEW="FAST";
NET "SRAM1_D<14>" 	LOC = P22 		|IOSTANDARD=LVCMOS33 |SLEW="FAST";
NET "SRAM1_D<15>" 	LOC = P21 		|IOSTANDARD=LVCMOS33 |SLEW="FAST";
                               
NET "SRAM1_nWE"  	LOC = P11		|IOSTANDARD=LVCMOS33 |SLEW="FAST";
NET "SRAM1_nOE"  	LOC = P39		|IOSTANDARD=LVCMOS33 |SLEW="FAST";
NET "SRAM1_nCE1" 	LOC = P12		|IOSTANDARD=LVCMOS33 |SLEW="FAST"; 		 
NET "SRAM1_CE2"		LOC = P10		|IOSTANDARD=LVCMOS33 |SLEW="FAST";
NET "SRAM1_nBHE" 	LOC = P13		|IOSTANDARD=LVCMOS33 |SLEW="FAST";
NET "SRAM1_nBLE" 	lOC = P40		|IOSTANDARD=LVCMOS33 |SLEW="FAST";






##=================================== CAMERA WIRING =====================================
NET "CAM_PCLK_EX" 		LOC = P76		|IOSTANDARD=LVCMOS33 |SLEW="FAST" ;
TIMESPEC TS_CAM_PCLK = PERIOD "CAM_PCLK" 90 ns HIGH 50%;
NET "CAM_HREF" 		LOC = P72		|IOSTANDARD=LVCMOS33 |SLEW="FAST" |CLOCK_DEDICATED_ROUTE = "TRUE"				; 
NET "CAM_VSYNC" 	LOC = P77		|IOSTANDARD=LVCMOS33 |SLEW="FAST" |CLOCK_DEDICATED_ROUTE = "TRUE"				; 
NET "CAM_PWR_DOWN"	LOC = P57		|IOSTANDARD=LVCMOS33 |SLEW="FAST" 			;
NET "CAM_RESET"		LOC = P58		|IOSTANDARD=LVCMOS33 |SLEW="FAST" 			;
                                     	
NET "CAM_SCL"		LOC = P78		|IOSTANDARD=LVCMOS33 |SLEW="FAST" 			;
NET "CAM_SDA"		LOC = P74		|IOSTANDARD=LVCMOS33 |SLEW="FAST" 			;
                                     	
NET "CAM_D<0>"		LOC = P61		|IOSTANDARD=LVCMOS33 |SLEW="FAST" 			;
NET "CAM_D<1>"		LOC = P62		|IOSTANDARD=LVCMOS33 |SLEW="FAST" 			;
NET "CAM_D<2>"		LOC = P63		|IOSTANDARD=LVCMOS33 |SLEW="FAST" 			;
NET "CAM_D<3>"		LOC = P64		|IOSTANDARD=LVCMOS33 |SLEW="FAST" 			;
NET "CAM_D<4>"		LOC = P65		|IOSTANDARD=LVCMOS33 |SLEW="FAST" 			;
NET "CAM_D<5>"		LOC = P67		|IOSTANDARD=LVCMOS33 |SLEW="FAST" 			;
NET "CAM_D<6>"		LOC = P68		|IOSTANDARD=LVCMOS33 |SLEW="FAST" 			;
NET "CAM_D<7>"		LOC = P71		|IOSTANDARD=LVCMOS33 |SLEW="FAST" 			;
#
#
#
#
#
#
##=================================== CLOCK WIRING =====================================
NET "OSC_50M_EX"	LOC = P79		|IOSTANDARD=LVCMOS33 |SLEW="FAST";
TIMESPEC TS_OSC_50M = PERIOD "OSC_50M" 20 ns HIGH 50%; 			
NET "OSC_VAR" 		LOC = P80		|IOSTANDARD=LVCMOS33 |SLEW="FAST";
TIMESPEC TS_OSC_VAR = PERIOD "OSC_VAR" 25 ns HIGH 50%;			
#
#
#
#
#
#================================ LED/BUTTONS WIRING ==================================
NET "LED_G"		LOC = P95			|IOSTANDARD=LVCMOS33 |SLEW="FAST";
NET "LED_Y"		LOC = P94			|IOSTANDARD=LVCMOS33 |SLEW="FAST";
NET "LED_R"		LOC = P93	   		|IOSTANDARD=LVCMOS33 |SLEW="FAST";
NET "LED_W"		LOC = P90	   		|IOSTANDARD=LVCMOS33 |SLEW="FAST";

NET "BUTTON_LEFT"	LOC = P96		|IOSTANDARD=LVCMOS33 |SLEW="FAST"  		;
NET "BUTTON_RIGHT"	LOC = P97		|IOSTANDARD=LVCMOS33 |SLEW="FAST" |CLOCK_DEDICATED_ROUTE = "FALSE";






 

#================================ ... ==================================
#NET ""			LOC = P  ;
#NET ""			LOC = P  ;
#NET ""			LOC = P  ;
#NET ""			LOC = P  ;
#NET ""			LOC = P  ;
#NET ""			LOC = P  ;
#NET ""			LOC = P  ;
#NET ""			LOC = P  ;
#NET ""			LOC = P  ;
#NET ""			LOC = P  ;
#NET ""			LOC = P  ;
#NET ""			LOC = P  ;
#NET ""			LOC = P  ;
#NET ""			LOC = P  ;
#NET ""			LOC = P  ;
#NET ""			LOC = P  ;
#NET ""			LOC = P  ;
#NET ""			LOC = P  ;
#NET ""			LOC = P  ;
#NET ""			LOC = P  ;
#NET ""			LOC = P  ;
#NET ""			LOC = P  ;
#NET ""			LOC = P  ;
#NET ""			LOC = P  ;
#NET ""			LOC = P  ;
#NET ""			LOC = P  ;
#NET ""			LOC = P  ;
#Created by Constraints Editor (xc3s400-pq208-4) - 2015/12/29
NET "OSC_VAR" TNM_NET = OSC_VAR;
NET "OSC_50M" TNM_NET = OSC_50M;
NET "CAM_PCLK" TNM_NET = CAM_PCLK;
NET "FX_IFCLK" TNM_NET = FX_IFCLK;
INST "CAM_D<0>" TNM = CAM_D;
INST "CAM_D<1>" TNM = CAM_D;
INST "CAM_D<2>" TNM = CAM_D;
INST "CAM_D<3>" TNM = CAM_D;
INST "CAM_D<4>" TNM = CAM_D;
INST "CAM_D<5>" TNM = CAM_D;
INST "CAM_D<6>" TNM = CAM_D;
INST "CAM_D<7>" TNM = CAM_D;
#Created by Constraints Editor (xc3s400-pq208-4) - 2016/04/01
TIMEGRP "CAM_D" OFFSET = IN 45 ns VALID 90 ns BEFORE "CAM_PCLK" RISING;
NET "CAM_HREF" OFFSET = IN 40 ns VALID 90 ns BEFORE "CAM_PCLK" RISING;
